<header>
 <%= render 'layouts/header' %>
</header>
<div class="container_new">
 <div class="row headers">
  <h4>会員情報編集</h4>
 </div>
  <table>
    <%= form_with model: @customer, local:true do |f| %>
    <tr>
     <td style="border:none;"><%= f.label "名前", class: "col-sm-10 col-form-control mt-1" %></td>
     <td style="border:none;"><%= f.text_field :name, class: "form input-text" %></td>
    </tr>
    <tr>
      <td style="border:none;"><%= f.label "プロフィール", class: "col-sm-10 col-form-control mt-1 " %></td>
      <td style="border:none;"><%= f.text_area :profile, class: "form input-text" %></td>
    </tr>
    <tr>
     <td style="border:none;"><%= f.label " ", class: "col-sm-7 col-form-control mt-1" %></td>
     <td style="border:none;"><%= f.attachment_field :profile_image, class: "userform" %></td>
    </tr>
    <tr>
     <td style="border:none;">
      <%= image_submit_tag("update.jpg", class: "size") %>
     </td>
    </tr>
   </table>
   <% end %>
  </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>