<header>
 <%= render 'layouts/header' %>
</header>
 <div class="row mt-5" style="width: 100%;">
  <div style="width: 800px; margin:0 auto;">
   <h4 class="edit">会員情報編集</h4>
   <%= form_with model: @customer, local:true do |f| %>
   <table id="customers-table" class="table mt-3">
    <tr>
     <td style="border:none;"><%= f.label "名前", class: "col-sm-7 col-form-control mt-1" %></td>
     <td style="border:none;"><%= f.text_field :name, class: "form" %></td>
    </tr>
    <tr>
      <td style="border:none;"><%= f.label "プロフィール", class: "col-sm-7 col-form-control mt-1" %></td>
      <td style="border:none;"><%= f.text_area :profile, class: "form" %></td>
    </tr>
    <tr>
     <td style="border:none;"><%= f.label " ", class: "col-sm-7 col-form-control mt-1" %></td>
     <td style="border:none;"><%= f.attachment_field :profile_image, class: "userform" %></td>
    </tr>
    <tr>
     <td style="border:none;">
      <%= f.submit "Update User", class: "btn btn-secondary" %>
     </td>
    </tr>
   </table>
   <% end %>
  </div>
 </div>
<footer>
 <%= render 'layouts/footer' %>
</footer>