<header>
 <%= render 'layouts/header' %>
</header>
<div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-4'>
   <h2>登録情報<%= attachment_image_tag @customer, :profile_image,fallback: 'logo.jpeg', class: "size"%></h2>
   <table>
    <tr>
     <td style="border:none;" class="table">名前</td>
     <td style="border:none;" class="table"><%= @customer.name %></td>
    </tr>
    <tr>
     <td style="border:none;" class="table">自己紹介</td>
     <td style="border:none;" class="table"><%= @customer.profile %></td>
    </tr>
    <tr>
     <td style="border:none;" class="table">フレンド</td>
     <td style="border:none;" class="table">おきば</td>
    </tr>
    <tr>
     <th style="border:none;">
      <%= link_to '会員情報を編集する', edit_customer_path, class: "btn " %><br>
      <%= link_to '作品を投稿する！', new_opu_path(current_customer.id), class: "btn " %><br>
     </th>
    </tr>
      <table id="customer-table" class="table mt-3">
      </table>
  </div>
   <div class='col-md-7 offset-md-1'>
    <h2>作品一覧</h2>
    <table class='table'>
    <thead>
     <tr>
      <td style="border:none;">作品画像</td>
      <td style="border:none;">作品名</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
   </table>
   </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>