<header>
 <%= render 'layouts/header' %>
</header>
<div class="container-fluid">
 <div class="col-md-3 col-sm-12 col-xs-12">
  <%= form_with model: @opu_new, local: true do |f| %>
  <label for="menu">タイトル</label>
  <p><%= f.text_field :title%></p>
  <label for="parts">箇所</label>
  <p><%= f.select :parts, [["head", "head"], ["body", "body"], ["arm", "arm"], ["waist", "waist"], ["leg", "leg"],["backpack", "bakcpack"],["wepon", "wepon"],["file", "file"],["painting", "painting"],["surfacer", "surfacer"]], include_blank: "選択して下さい" %></p>
  <label for="start_time">予定日</label>
  <p><%= f.datetime_select :start_time%></p>
  <%= f.submit "予定を入れる", class: "btn btn-sm btn-hachiss" %>
  <% end %>
 </div>
<div class="col-md-9 col-sm-12 col-xs-12">
<%= month_calendar event: @opera do |date, opera| %>
  <%= date.day %>
<% opera.each do |opus| %>
<%= link_to opus.title,opus_path(opu.id) %>
<% end %>
<% end %>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>