<header>
 <%= render 'layouts/header' %>
</header>
<div class="container-fluid">
 <h2 class="section-top"><span class="fas fa-robot" aria-hidden="true"></span>作る予定を建てる！</h2>
 <div class="col-md-3">
  <%= form_with(model: @calendar, local: true) do |f| %>
  <!--<% if @calendar.errors.any? %>-->
  <!-- <%= @calendar.errors.count %>件のエラーが発生しました-->
  <!-- <% @calendar.errors.full_messages.each do |message| %>-->
  <!--  <%= message %>-->
  <!-- <% end %>-->
  <!--<% end %>-->
  <label for="menu">タイトル</label>
  <p><%= f.text_field :title %></p>
  <label for="menu">内容</label>
  <p><%= f.text_field :content %></p>
  <label for="parts">箇所</label>
  <p><%= f.select :parts, [["head", "head"], ["body", "body"], ["arm", "arm"], ["waist", "waist"], ["leg", "leg"],["backpack", "bakcpack"],["wepon", "wepon"],["file", "file"],["painting", "painting"],["surfacer", "surfacer"]], include_blank: "選択して下さい" %></p>
  <label for="start_time">予定日</label>
  <p><%= f.datetime_select :start_time%></p>
  <%= image_submit_tag("yotri.jpg") %>
  <% end %>
 </div>
<div class="col-md-9">

 <%= month_calendar event: @customer.calendars do |date, calendar| %>
  <%= date %>
  <% @customer.calendars.each do |c| %>
   <% if date == c.start_time.to_date %>
    <p><%= c.title %></p>
   <% end %>
  <% end %>
 <% end %>
  <table class="calendar table-bordered">
   <thead>
    <tr>
	 <th class="border1">タイトル</th>
	 <th class="border2">内容</th>
	 <th class="border3">箇所</th>
	 <th class="border4">予定日</th>
	 <th></th>
	 <th></th>
    </tr>
   </thead>
   <% @calendars.each do |calendar| %>
   <% if calendar.customer_id.to_i == current_customer.id %>
    <tbody>
     <tr>
      <td><%= calendar.title %></td>
      <td><%= calendar.content %></td>
      <td><%= calendar.parts %></td>
	　<td><%= calendar.start_time.strftime("%Y-%m-%d %H:%M") %></td>
	　<td><%=link_to edit_calendar_path(calendar) do %><%= image_tag 'syuusei.jpg' %><% end %></td>
	　<td><%=link_to calendar_path(calendar) , method: :delete , data: {confirm:"削除しますか"}  do %><%= image_tag 'sakuzyo.jpg' %><% end %></td>
     </tr>
    </tbody>
   <% end %>
   <% end %>
  </table>
</div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>