<header>
 <%= render 'layouts/header' %>
</header>
 <table class="container">
  <tbody>
  <td><%= @opus.opus_name %>に現在登録されている画像（削除するものはチェックしてください)</td>
  <%= form_with model: @opu, local:true do |f| %>
  <% if @opus.opus_images.present? %>
  <tr>
   <td>
 　<% @opus.opus_images.each do |image| %>
 　<%= f.check_box :image_id, {multiple: true}, image.id, false %>
 　<%= attachment_image_tag image, :image, size: "200x200" %>
 　<% end %>
　</td>
  </tr>
  <tr>
   <td>
    <%= link_to '削除してみる', opu_path(:id), method: :delete, class: 'btn btn-danger' %>
   </td>
  </tr>
　<% end %>
  <% end %>
  </tbody>
 </table>
<footer>
 <%= render 'layouts/footer' %>
</footer>