<header>
 <%= render 'layouts/header' %>
</header>
 <table class="container">
  <tbody>
   <%= form_with model: @opu, local:true do |f| %>
  <% if @opus.opus_images.present? %>
  <tr><td><p>現在登録されている画像（削除するものはチェックしてください)</p></td></tr>
  <tr>
   <td>
 　<% @opus.opus_images.each do |image| %>
 　<%= f.check_box :image_id, {multiple: true}, image.id, false %>
 　<%= attachment_image_tag image, :image, size: "200x200" %>
 　<% end %>
　</td>
  </tr>
  <tr><td style="border:none;">
   <%= f.submit "選択した画像をなかったことにする" %></td></tr>
　<% end %>
  <% end %>
  </tbody>
 </table>
<footer>
 <%= render 'layouts/footer' %>
</footer>