<header>
 <%= render 'layouts/header' %>
</header>
 <table class="container">
  <tbody>
  <td><%= @opus.opus_name %>に現在登録されている画像（削除するものはチェックしてください)</td>
  <%= form_with model: @opu, url: opu_opus_image_path, method: :delete, local:true do |f| %>
  <% if @opus.opus_images.present? %>
  <tr>
   <td>
 　<% @opus.opus_images.each do |image| %>
 　<%= f.check_box :image_id, {multiple: true}, image.id, false %>
 　<%= attachment_image_tag image, :image, size: "200x200" %>
 　<% end %>
　</td>
  </tr>
  <tr>
   <td>
    <%= f.submit "削除してみる" %>
   </td>
  </tr>
　<% end %>
  <% end %>
  </tbody>
 </table>
<footer>
 <%= render 'layouts/footer' %>
</footer>