<header>
 <%= render 'layouts/header' %>
</header>
 <div class="container">
  <div class="row">
   <%= form_with model: @opu, local:true do |f| %>
      <table>
        <tr>
         <td style="border:none;">
          <%= f.label "作品名" %><br>
          <%= f.text_area :opus_name %>
         </td>
        </tr>
        <tr>
         <td style="border:none;">
          <%= f.label "作品説明" %><br>
          <%= f.text_area :opus_explanation %>
         </td>
        </tr>
        <tr>
         <td>
          
         </td>
        </tr>
        <tr>
         <td>
         <%= link_to "画像を削除しに行く", opu_opus_image_path(@opu) %>
         </td>
        </tr>
        <tr>
         <td style="border:none;">
         <%= f.label "画像を追加する" %><br>
         <%= f.attachment_field :image, multiple: true %>
         </td>
        </tr>
        <tr>
         <td style="border:none;">
          <%= f.submit "作品を修正する！" %>
         </td>
        </tr>
     <% end %>
   </table>
  </div>
 </div>
<footer>
 <%= render 'layouts/footer' %>
</footer>