<header>
 <%= render 'layouts/header' %>
</header>
<div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-4'>
　  <%= render 'layouts/mypage' %>
   </div>
  <div class='col-md-8'>
   <table class='table table-hover table-inverse width'>
    <tr>
      <h3>作品を探す</h3>
      <%= form_tag opus_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_ids,options_from_collection_for_select(Tag.all, :id, :name, params[:tag_ids])%>
      <%= submit_tag "検索"%>
    　<% end %>
     </td>
     <td style="border:none;">
      <% @opera.each do |opus| %>
      <%= opus.name %>
      <% end %>
    <thead width="900"><h1>投稿一覧</h1>
     <tr style="border:none;">
       <th style="border:none;" width="300">作品画像</th>
       <th style="border:none;" width="300">タイトル</th>
       <th style="border:none;" width="300">スキ！</th>
      </td>
     </tr>
    </thead>
    <tbody width="1000">
     <tr>
      <% @opera.each do |opus| %>
       <td style="border:none;" width="300">
        <%= link_to opu_path(opus.id) do %>
        <%= attachment_image_tag(opus.opus_images[0], :image, class: "sizee") %>
        <td style="border:none;" width="300"><%= opus.opus_name %></td>
        <% end %>
        <td id="favorite_buttons_<%= opus.id %>", style="border:none;" width="100">
         <% if opus.customer_id.to_i != current_customer.id %>
          <%= render "favorites", opus: opus %>
         <% end %>
        <td style="border:none;" width="300">
         <% if opus.customer_id.to_i == current_customer.id %>
         <%= link_to edit_opu_path(opus.id) do %><% image_tag 'syuusei.jpg' %><% end %>
         <%= link_to opu_path(opus.id), method: :delete, data: {confirm: "本当に削除しますか？"} do %><%= image_tag 'sakuzyo.jpg' %><% end %>
        <% end %>
        </td>
       </td>
      </td>
    </tr>
   </tbody>
     <% end %>
   </table>
  </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>