<header>
 <%= render 'layouts/header' %>
</header>
 <div class='container px-5 px-sm-0'>
  <div class='row'>
   <div class='col-md-4'>
    <h3>作品を探す</h3>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
　  <%= f.text_field :keyword, value: @keyword %>
　  <%= f.submit "検索" %>
　  <% end %>
   </div>
   <div class='col-md-7 offset-md-1'>
    <table class='table table-hover table-inverse'>
     <thead>
      <h1>投稿一覧</h1>
       <tr>
        <th style="border:none;">作品画像</th>
        <th style="border:none;">タイトル</th>
      </tr>
      <tr>
     <% @opera.each do |opus| %>
       <td style="border:none;"><%= attachment_image_tag opus, :image, :fill, 10, 10, format: 'jpeg', fallback: "logo.jpg"%></td>
       <td style="border:none;"><%= opus.opus_name %></td>
      </tr>
     <% end %>
      </tr>
　   </thead>
    </table>
   </div>
  </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>