<header>
 <%= render 'layouts/header' %>
</header>
    <%= form_with model: @opus, local:true do |f| %>
      <table id="customer-table" class="table mt-3">
        <tr>
         <td style="border:none;">
          <%= f.label "作品名" %><br>
          <%= f.text_area :opus_name %>
         </td>
        </tr>
        <tr>
         <td style="border:none;">
          <%= f.label "作品説明" %><br>
          <%= f.text_area :opus_explanation %>
         </td>
        </tr>
        <tr>
         <td style="border:none;">
         <%= f.attachment_field :image, multiple: true %>
         </td>
        </tr>
        <tr>
         <td style="border:none;">
          <%= f.submit "作品を投稿する！" %>
         </td>
        </tr>
     <% end %>
   </table>
<footer>
 <%= render 'layouts/footer' %>
</footer>