<header><%= render 'layouts/header' %></header>
<table>
 <div class="container_new">
  <div class="row header">
    <h1>NEW_OPUS!</h1><br>
    <span></span><br>
    <h4>あなただけの素敵な作品を投稿しよう！</h4>
  </div>
  <div>
   <%= form_with model: @opus, local:true do |f| %>
    <div>
      <p class="left">
       <%= f.label "作品名", class: "label" %><br>
       <%= f.text_field :opus_name, class: "input-text form", size: 40 %>
      </p>
      <p>
       <%= f.label "作品説明", class: "label" %><br>
       <%= f.text_area :opus_explanation, class: "input-text form text-comment" %>
      </p>
      <p>
       <%= f.text_field :tag_ids, class: "form-control input-text form", id:'tag_ids',\
        placeholder: "作品タグをつける。複数つけるには','で区切ってください。" %>
      </p>
     <p><%= f.file_field :opus_images_images, multiple: true %></p>
     <p><%= f.submit "作品を投稿する！", class: "submit-btn" %></p>
    </div>
   <% end %>
  </div>
</div>
</table>
<footer><%= render 'layouts/footer' %></footer>