<header>
 <%= render 'layouts/header' %>
</header>
 <div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-4'>
   <h2 class="plo_name"><%= @customer.name %>さんのプロフ</h2>
   <%= render 'layouts/mypage2opu' %>
  </div>
   <div class='col-md-7 offset-md-1'>
    <table>
     <tr width="900">
      <td style="border:none;" width="300">作品名<span class="offset-md-1"><%= @opera.opus_name %></span></td>
      <td style="border:none;" width="300">コメント<span class="offset-md-1"><%= @opera.opus_explanation %></span></td>
      <td>
       <% @opera.tags.each do |tag| %>
       <%= tag.name %>
       <% end %>
      </td>
     </tr>
    </table>
    <tbody>
     <tr>
      <td>
        <% @opera.opus_images.each do |image| %>
        <td><%= attachment_image_tag image, :image, class: "sizen" %></td>
        <% end %>
       </td>
     </tr>
     <tr>
     </tr>
     </tbody>
    <tfoot>
   　<td>
   　  <%= form_with model: @commenter, local: true do |f| %>
      <%= f.text_field :comment, placeholder: "素敵なコメントを" %>
      <%= f.submit "送信する" %>
      <% end %>
   　</td>
   　 <tr>
   　 <td>コメント一覧</td>
   　 <td>
   　  <% @comments.each do |comment| %>
   　  <%= comment.comment_content %>
   　  <% end %>
   　 </td>
   　 </tr>
    </tfoot>
   </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>