<header>
 <%= render 'layouts/header' %>
</header>
 <div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-4'>
   <h2 class="plo_name">登録情報</h2>
   <%= render 'layouts/mypage' %>
  </div>
   <div class='col-md-7 offset-md-1'>
    <table>
     <tr width="900">
      <td style="border:none;" width="300">作品名<span class="offset-md-1"><%= @opera.opus_name %></span></td>
     </tr>
    </table>
    <tbody>
     <tr>
      <td>
        <% @opera.opus_images.each do |image| %>
        <td><%= attachment_image_tag image, :image, class: "sizen", size: '50x50' %></td>
        <% end %>
       </td>
     </tr>
     </tbody>
    <tfoot>
     <td>コメント</td>
   　<td>
   　  <%#= form_with model: @opus, method: :post, local: true do |f| %>
   　  <%= form_with url: opu_comments_path(opu_id: @opera.id), method: :post, local: true do |f| %>
      <%= f.text_field :comment, placeholder: "素敵なコメントを" %>
      <%= f.submit "送信する" %>
      <% end %>
   　</td>
    </tfoot>
   </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>