<header>
 <%= render 'layouts/header' %>
</header>
 <div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-4'>
   <h2 class="plo_name">登録情報</h2>
   <%= render 'layouts/mypage' %>
  </div>
   <div class='col-md-7 offset-md-1'>
    <table class='table'>
    <thead>
     <tr>
      <td style="border:none;" class="table mt-3">
       <h2>
        作品名表示<br>
        <%= @opera.opus_name %>
       </h2>
       <td>
        <% @opera.opus_images.each do |image| %>
        <%= attachment_image_tag image, :image, class: "sizee" %>
        <% end %>
       </td>
       <td>
        <%= @opera.opus_explanation %>
       </td>
      </td>
    </tr>
    </thead>
   </table>
    <tbody>
   　<td>コメント</td>
   　<td>
   　  <%#= form_with model: @opus, method: :post, local: true do |f| %>
   　  <%= form_with url: opu_comments_path(opu_id: @opera.id), method: :post, local: true do |f| %>
      <%= f.text_field :comment, placeholder: "素敵なコメントを" %>
      <%= f.submit "送信する" %>
      <% end %>
   　</td>
   　<td>
   　</td>
    </tbody>
   </table>
   </div>
 </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>