<header>
 <%= render 'layouts/header' %>
</header>
 <div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-3'>
   <h3 class="plo_name"><%= @customer.name %>さんの<br>プロフィール</h3>
   <%= render 'layouts/mypage'%>
  </div>
   <div class='col-md-5'>
    <table>
     <tr>
      <td>作品名<h2><%= @opera.opus_name %></h2></td>
      <tr>
       <td>コメント<br><%= @opera.opus_explanation %></td>
      </tr>
      <tr><td>作品タグ<br>
      <% @opera.tags.each.with_index(1) do |tag,i| %>
      <%= tag.name %>
      <%= (@opera.tags.count != i)? ',': '' %>
      <% end %></td></tr>
     </tr>
    </table>
    <tbody>
     <tr>
      <td>
        <% @opera.opus_images.each do |image| %>
        <td><%= attachment_image_tag image, :image, class: "sizen" %></td>
        <% end %>
       </td>
     </tr>
     </tbody>
   </div>
   <tfoot>
    <div class='col-md-4'>
     <td>
      <% if @opera.customer_id.to_i != current_customer.id %>
   　  <%= form_with(model: @comment, url: opu_comments_path(@opera), local: true) do |f| %>
      <%= f.text_field :comment, placeholder: "素敵なコメントを" %>
      <%= f.submit "送信する" %>
      <% end %>
      <% end %>
     </td>
      <% @comments.each do |comment| %>
   　  <tr>
   　   <td><%= comment.comment %></td>
   　   <td><%= @customer.name %></td>
       <td><%=link_to "削除", opu_comments_path(comment.id), method: :delete %></td>
   　  </tr>
   　  <% end %>
     </div>
   </tfoot>
  </div>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>