<header>
 <%= render 'layouts/header' %>
</header>
<p><%= @question.title %></p>
<p><%= @question.content %></p>
<% if @question.customer_id == current_customer.id %>

<% end %>
<div>
  <%= form_with(model: @answer, local: true) do |f| %>
    <div>
      <%= f.label :body, "回答" %><br>
      <%= f.text_area :body %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
<footer>
 <%= render 'layouts/footer' %>
</footer>