<header>
 <%= render 'layouts/header' %>
</header>
 <div class="row mt-5">
  <table style="width: 600px; margin:1px auto;">
   <thead>
    <td><h2>質問一覧</h2></td>
    <tr>
     <td>タイトル</td>
     <td>内容</td>
     <td><% @questions.each do |question| %></td>
    </tr>
    <td>
     <%= link_to question_path(question) do %>
     <%= question.title %>
     <% end %>
    </td>
    <td>
     <%= question.content %><br>
    </td>
    <td>
     <% if question.customer_id.to_i == current_customer.id %>
     <%= link_to "修正！", edit_question_path(question.id)%>
     <%= link_to "削除しちゃう？", question_path(question.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
     <% end %>
    </td>
    <% end %>
    </tr>
   </thead>
  </table>
 </div>
<footer>
 <%= render 'layouts/footer' %>
</footer>