<header>
 <%= render 'layouts/header' %>
</header>
 <div class="row mt-5" style="width: 100%; margin-bottom:300px">
  <table style="width: 800px; margin:0 auto;">
   <thead>
    <tr>
     <td>
      質問一覧
     </td>
     <td><% @questions.each do |question| %></td>
    </tr>
    <td>
     <%= link_to question_path(question) do %>
     <%= question.title %>
     <% end %>
    </td>
    <td>
     <%= question.content %><br>
    </td>
    <td>
    </td>
    <% end %>
    </tr>
   </thead>
  </table>
 </div>
<footer>
 <%= render 'layouts/footer' %>
</footer>