<header>
 <%= render 'layouts/header' %>
</header>
<% if @question.errors.any? %>
  <%= @question.errors.count %>件のエラーが発生しました
  <% @question.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class='container'>
 <div class='row header'>
   <h2>質問する</h2>
 </div>
  <diV>
   <%= form_with(model: @question, local: true) do |f| %>
    <p class="left">
     <%= f.label :title, "タイトル" %><br>
     <%= f.text_field :title, class: "input-text form", size: 40 %>
    </p>
    <p>
     <%= f.label :content, "本文" %><br>
     <%= f.text_area :content, class: "input-text form text-comment" %>
    </p>
    <p><%= image_submit_tag('situmontou.jpg')%></p>
   </div>
   <% end %>
  </diV>
<footer>
 <%= render 'layouts/footer' %>
</footer>