<header>
 <nav class="navbar navbar-expand">
  <div class="container">
   <a class="navbar-brand" href="/"><%= image_tag 'logo.jpeg', class: "topsize"%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </button>
 <div class="navbar-collapse" id="navbarNavDropdown">
  <% if customer_signed_in? %>
   <li style="list-style: none;"><%= link_to customer_path(current_customer.id) do %><%= image_tag 'my.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to opus_path do %><%= image_tag 'penguin.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to calendar_path(current_customer.id) do %><%= image_tag 'calendar.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to new_question_path(current_customer.id) do %><%= image_tag 'question.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to destroy_customer_session_path, method: :delete do%><%= image_tag 'logout.jpeg', class: "size"%><% end %></li>
 <% else %>
   <li style="list-style: none;"><%= link_to root_path do %><%= image_tag 'home.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to about_path do %><%= image_tag 'about.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to new_customer_registration_path do %><%= image_tag 'sign.jpeg', class: "size"%><% end %></li>
   <li style="list-style: none;"><%= link_to customer_session_path do %><%= image_tag 'login.jpeg', class: "size"%><% end %></li>
 <% end %>
</header>
