<div>
  <%= image_tag ("logo.jpg"), class: "sizen" %>
</div>
 <table>
 <tr>
  <td style="border:none;" class="table">名前</td>
  <td style="border:none;" class="table"><%= @customer.name %></td>
 </tr>
 <tr>
  <td style="border:none;" class="table">自己紹介</td>
  <td style="border:none;" class="table"><%= @customer.profile %></td>
 </tr>
 <tr>
  <td style="border:none;" class="table">フレンド</td>
  <td style="border:none;" class="table"></td>
 </tr>
 <tr>
 </tr>
 <tr>
  <th style="border:none;">
   
   <% if current_customer.following?(@customer) %>
    <%= button_to 'フォロー解除', customer_friend_path(current_customer.friends.find_by(follower: @customer)), method: :delete, class: "btn " %>
   <% else %>
    <%= button_to 'フォロー', customer_friend_path(@customer), class: "btn " %>
   <% end %>
  </th>
 </tr>
  <table id="customer-table" class="table mt-3">
  </table>