 <table class="table-top">
 <td>
 <%= attachment_image_tag @customer, :profile_image, class: "sizen", fallback: "logo.jpg" %>
 </td>
 <tr>
  <td style="border:none;" class="table"><%= image_tag 'name.jpg' %></td><br>
  <td style="border:none;" class="table"><%= @customer.name %></td><br>
 </tr>
 <tr>
  <td style="border:none;" class="table"><%= image_tag 'profile.jpg' %></td>
  <td style="border:none;" class="table"><%= @customer.profile %></td><br>
 </tr>
 <tr>
  <td style="border:none;" class="table"><%= image_tag 'follow.jpg' %></td>
  <td style="border:none;" class="table"><%= link_to customer_follower_path(@customer.id) do %><%= @customer.followings.count %><% end %></td>
 </tr>
 <tr>
  <td style="border:none;" class="table"><%= image_tag 'follower.jpg' %></td>
  <td style="border:none;" class="table"><%= link_to customer_follow_path(@customer.id) do %><%= @customer.followers.count %><% end %></td>
 </tr>
 <tr>
  <td>
   <% unless current_customer == @customer %>
    <% if current_customer.following?(@customer) %>
    <%= link_to customer_friend_path(@customer.id), method: :delete do %><%= image_tag 'customeredit.jpg' %><% end %>
    <% else %>
    <%= link_to customer_friend_path(@customer.id), method: :post do %><%= image_tag 'follows.jpg' %><% end %>
    <% end %>
   <% end %>
  </td>
 </tr>
 <tr>
  <th style="border:none;">
   <%= link_to edit_customer_path(current_customer.id) do %><%= image_tag 'customeredit.jpg' %><% end %><br>
   <%= link_to new_opu_path(current_customer.id) do %><%= image_tag 'sakuhinntoukou.jpg' %><% end %><br>
   <%= link_to new_question_path(current_customer.id) do %><%= image_tag 'situmon.jpg' %><% end %>
   <%= link_to customers_path, method: :get  do %><%= image_tag 'ranking.jpg' %><% end %>
  </th>
 </tr>
  <table id="customer-table" class="table mt-3">
 </table>